
  .no-suggestions {
    color: #999;
    padding: 0.5rem;
  }
  
  .suggestions {
    position: absolute;
    border: 1px solid #999;
    list-style: none;
    margin-top: 0;
    max-height: 360px;
    overflow-y: auto;
    padding-left: 0;
    width: 444px;
    top: 89px;
    z-index: 10;
    box-shadow: 0 0 15px 0px #888888;
    background-color: white;
  }
  
  .suggestions li {
    padding: 0.5rem;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: #e0e0e0;
    color: #3f3f3f;
    cursor: pointer;
  }
  
  .highlight-bold {
    font-weight: bold;
  }